# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
/postgres-data
/load_files_api_drf/media/


# Unit test / coverage reports
.pytest_cache/

# Environments
.venv
.env
.idea
.DS_Store
/load_files_api_drf/logs/
